@charset "UTF-8";
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

:root {
    --main-color: #fa5353;
    --dark-color: #1b182b;
    --light-color: #322f40;
    --text-color: hsl(0, 0%, 91%);
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    background-image: linear-gradient(to left, #322f40, #1b182b);
}

#squarefree {
    font-family: Helvetica;
    margin: 0 auto;
    background: rgba(1, 44, 236, 0.192);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 25pt;
}

#bingotable {
    margin: 0 auto;
    text-align: center;
    width: 300px;
    height: 300px;
    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 15px 9px 9px black;
    -webkit-backdrop-filter: blur(10px);
}

.chamadas {
    color: #46FA78;
    font-size: 2.0rem;
}

.logo {
    font-size: 1.9rem;
    font-weight: 900;
    color: var(--text-color);
    text-transform: uppercase;
    margin: 0 auto 0 0;
}

.logo span {
    font-family: Gill Sans, sans-serif;
    color: var(--main-color);
}

th,
td {
    font-family: Helvetica;
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
    border: 3px solid black;
    width: 20%;
}

.orange {
    background: var(--main-color);
}

table tr td button {
    font-family: serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 15px;
}

table td button {
    font-family: serif;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
}


/* gerador das cartelas */


/* .gerador {
    font-family: serif;
    font-size: 25px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 100px;
    padding: 5px;
    margin-left: 55px;
    color: white;
    margin-top: 10px;
}



.gerador:hover {
    background-color: #46FA78;
    color: black;
} */

.gerador {
    cursor: hand;
    text-transform: uppercase;
    background-color: #ff8d35;
    color: white;
    font-weight: 900;
    border: unset;
    border-radius: 1rem;
    padding: 1em 3em;
    margin: 2em auto;
    display: block;
    box-shadow: 10px 5px 5px black;
    /*  transition: background .5s ease-in, transform .5s .25s ease-in-out;*/
    transition: background .6s ease-in, transform .5s .25s ease-in-out;
}

.gerador:hover {
    box-shadow: 10px 5px 5px black;
    background-color: #c61140;
    /*  transform: scale(1.2);*/
    transform: scale(1.2) rotateX(30deg);
}

div.box h2 {
    font-size: 3.0rem;
    color: #fa5353;
}

div.box {
    min-width: 100px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5.5rem;
    padding: 3.5rem;
    text-align: center;
}

div.box button {
    font-family: serif;
    font-size: 10pt;
    padding: 0.9rem 0.5rem;
    border: 0;
    border-radius: 5rem;
    background-color: #ff8d35;
    color: rgb(255, 255, 255);
    cursor: cell;
}

.btn {
    cursor: hand;
    text-transform: uppercase;
    background-color: #ff8d35;
    color: white;
    font-weight: 900;
    border: none;
    padding: 1em 3em;
    margin: 2em auto;
    display: block;
    box-shadow: 15px 9px 9px black;
    /*  transition: background .5s ease-in, transform .5s .25s ease-in-out;*/
    transition: background .6s ease-in, transform .5s .25s ease-in-out;
}

.btn:hover {
    box-shadow: 15px 9px 9px black;
    background-color: #c61140;
    /*  transform: scale(1.2);*/
    transform: scale(1.2) rotateX(30deg);
}