<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylo.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/image.png')}}" type="image/x-icon">
    <title>Cartela</title>
</head>
<script>
    function Marcar(id) {
        document.getElementById(id).style.backgroundColor = "#46FA78"
    }
</script>
<!-- vhgdhf -->

<body onload="newCard()">
    <div id="container">
        <div id="header">
            <a href="#" class="logo">Bem vindo (A) ! <br> <span>{{nome}} &#128513;</span></a>
            <p><br></p>
            <p><br></p>
            <!-- <p><img srcset="{{ url_for('static',filename='img/image.png')}}"> -->
            </p>
        </div>
        <div id="content">
            <!-- <form action="/cartela/bolas" method="POST"> -->
            <table class="box" id="bingotable">
                <tr>
                    <th class="orange">B</th>
                    <th class="orange">I</th>
                    <th class="orange">N</th>
                    <th class="orange">G</th>
                    <th class="orange">O</th>
                </tr>
                <tr>
                    <td id="square0"> <button name="bolas1" id="b1" class="btn05" OnClick="Marcar(this.id)">{{bolas1}}</button></td>
                    <td id="square1"> <button name="bolas2" id="b2" class="btn06" OnClick="Marcar(this.id)">{{bolas2}}</button></td>
                    <td id="square2"> <button name="bolas3" id="b3" class="btn11" OnClick="Marcar(this.id)">{{bolas3}}</button></td>
                    <td id="square3"> <button name="bolas4" id="b4" class="btn16" OnClick="Marcar(this.id)">{{bolas4}}</button></td>
                    <td id="square4"> <button name="bolas5" id="b5" class="btn21" OnClick="Marcar(this.id)">{{bolas5}}</button></td>
                </tr>
                <tr>
                    <td id="square5"> <button name="bolas6" id="b6" class="btn04" OnClick="Marcar(this.id)">{{bolas6}}</button></td>
                    <td id="square6"> <button name="bolas7" id="b7" class="btn07" OnClick="Marcar(this.id)">{{bolas7}}</button></td>
                    <td id="square7"> <button name="bolas8" id="b8" class="btn12" OnClick="Marcar(this.id)">{{bolas8}}</button></td>
                    <td id="square8"> <button name="bolas9" id="b9" class="btn17" OnClick="Marcar(this.id)">{{bolas9}}</button></td>
                    <td id="square9"> <button name="bolas10" id="b10" class="btn22" OnClick="Marcar(this.id)">{{bolas10}}</button></td>
                </tr>
                <tr>
                    <td id="square10"> <button name="bolas11" id="b11" class="btn03" OnClick="Marcar(this.id)">{{bolas11}}</button></td>
                    <td id="square11"> <button name="bolas12" id="b12" class="btn08" OnClick="Marcar(this.id)">{{bolas12}}</button></td>
                    <td id="squarefree">&#127808;</td>
                    <td id="square12"> <button name="bolas13" id="b13" class="btn13" OnClick="Marcar(this.id)">{{bolas13}}</button></td>
                    <td id="square13"> <button name="bolas14" id="b14" class="btn18" OnClick="Marcar(this.id)">{{bolas14}}</button></td>
                </tr>
                <tr>
                    <td id="square14"> <button name="bolas15" id="b15" class="btn02" OnClick="Marcar(this.id)">{{bolas15}}</button></td>
                    <td id="square15"> <button name="bolas16" id="b16" class="btn09" OnClick="Marcar(this.id)">{{bolas16}}</button></td>
                    <td id="square16"> <button name="bolas17" id="b17" class="btn14" OnClick="Marcar(this.id)">{{bolas17}}</button></td>
                    <td id="square17"> <button name="bolas18" id="b18" class="btn19" OnClick="Marcar(this.id)">{{bolas18}}</button></td>
                    <td id="square18"> <button name="bolas19" id="b19" class="btn23" OnClick="Marcar(this.id)">{{bolas19}}</button></td>
                </tr>
                <tr>
                    <td id="square19"> <button name="bolas20" id="b20" class="btn01" OnClick="Marcar(this.id)">{{bolas20}}</button></td>
                    <td id="square20"> <button name="bolas21" id="b21" class="btn10" OnClick="Marcar(this.id)">{{bolas21}}</button></td>
                    <td id="square21"> <button name="bolas22" id="b22" class="btn15" OnClick="Marcar(this.id)">{{bolas22}}</button></td>
                    <td id="square22"> <button name="bolas23" id="b23" class="btn20" OnClick="Marcar(this.id)">{{bolas23}}</button></td>
                    <td id="square23"> <button name="bolas24" id="b24" class="btn24" OnClick="Marcar(this.id)">{{bolas24}}</button></td>
                </tr>
            </table>

            <!-- <button class="gerador">Gerar a cartela</button>
                <script src="/static/js/cartelas.js"></script> 
            </form>-->
        </div>
        <div class="botao">
            <button class="gerador">Gerar a cartela</button>

        </div>
        <script src="/static/js/cartelas.js"></script>
</body>

</html>