<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.XX">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylo.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/icone.jpeg')}}" type="image/x-icon">

    <title> Bolas chamadas </title>

    <body>
        <script>
            function Marcar(id) {
                document.getElementById(id).style.backgroundColor = "#46FA78"
            }
        </script>
        <div class="box">
            <h2>XX</h2>
            <button class="btn" id="btn">GERAR NUMERO</button>
        </div>
        <p class="chamadas">
            Bolas chamadas <span id="display">0</span>
        </p>
        <div id="content">
            <table class="box" id="bingotable">
                <tr>
                    <th class="orange">B</th>
                    <th class="orange">I</th>
                    <th class="orange">N</th>
                    <th class="orange">G</th>
                    <th class="orange">O</th>
                </tr>
                <td>
                    <button id="b1" class="btn1" OnClick="Marcar(this.id)">XX</button>
                    <button id="b2" class="btn2" OnClick="Marcar(this.id)">XX</button>
                    <button id="b3" class="btn3" OnClick="Marcar(this.id)">XX</button>
                    <button id="b4" class="btn4" OnClick="Marcar(this.id)">XX</button>
                    <button id="b5" class="btn5" OnClick="Marcar(this.id)">XX</button>
                    <button id="b6" class="btn6" OnClick="Marcar(this.id)">XX</button>
                    <button id="b7" class="btn7" OnClick="Marcar(this.id)">XX</button>
                    <button id="b8" class="btn8" OnClick="Marcar(this.id)">XX</button>
                    <button id="b9" class="btn9" OnClick="Marcar(this.id)">XX</button>
                    <button id="b10" class="btn10" OnClick="Marcar(this.id)">XX</button>
                    <button id="b11" class="btn11" OnClick="Marcar(this.id)">XX</button>
                    <button id="b12" class="btn12" OnClick="Marcar(this.id)">XX</button>
                    <button id="b13" class="btn13" OnClick="Marcar(this.id)">XX</button>
                    <button id="b14" class="btn14" OnClick="Marcar(this.id)">XX</button>
                    <button id="b15" class="btn15" OnClick="Marcar(this.id)">XX</button>
                </td>
                <td>
                    <button id="b16" class="btn16" OnClick="Marcar(this.id)">XX</button>
                    <button id="b17" class="btn17" OnClick="Marcar(this.id)">XX</button>
                    <button id="b18" class="btn18" OnClick="Marcar(this.id)">XX</button>
                    <button id="b19" class="btn19" OnClick="Marcar(this.id)">XX</button>
                    <button id="b20" class="btn20" OnClick="Marcar(this.id)">XX</button>
                    <button id="b21" class="btn21" OnClick="Marcar(this.id)">XX</button>
                    <button id="b22" class="btn22" OnClick="Marcar(this.id)">XX</button>
                    <button id="b23" class="btn23" OnClick="Marcar(this.id)">XX</button>
                    <button id="b24" class="btn24" OnClick="Marcar(this.id)">XX</button>
                    <button id="b25" class="btn25" OnClick="Marcar(this.id)">XX</button>
                    <button id="b26" class="btn26" OnClick="Marcar(this.id)">XX</button>
                    <button id="b27" class="btn27" OnClick="Marcar(this.id)">XX</button>
                    <button id="b28" class="btn28" OnClick="Marcar(this.id)">XX</button>
                    <button id="b29" class="btn29" OnClick="Marcar(this.id)">XX</button>
                    <button id="b30" class="btn30" OnClick="Marcar(this.id)">XX</button>
                </td>
                <td>
                    <button id="b31" class="btn31" OnClick="Marcar(this.id)">XX</button>
                    <button id="b32" class="btn32" OnClick="Marcar(this.id)">XX</button>
                    <button id="b33" class="btn33" OnClick="Marcar(this.id)">XX</button>
                    <button id="b34" class="btn34" OnClick="Marcar(this.id)">XX</button>
                    <button id="b35" class="btn35" OnClick="Marcar(this.id)">XX</button>
                    <button id="b36" class="btn36" OnClick="Marcar(this.id)">XX</button>
                    <button id="b37" class="btn37" OnClick="Marcar(this.id)">XX</button>
                    <button id="b38" class="btn38" OnClick="Marcar(this.id)">XX</button>
                    <button id="b39" class="btn39" OnClick="Marcar(this.id)">XX</button>
                    <button id="b40" class="btn40" OnClick="Marcar(this.id)">XX</button>
                    <button id="b41" class="btn41" OnClick="Marcar(this.id)">XX</button>
                    <button id="b42" class="btn42" OnClick="Marcar(this.id)">XX</button>
                    <button id="b43" class="btn43" OnClick="Marcar(this.id)">XX</button>
                    <button id="b44" class="btn44" OnClick="Marcar(this.id)">XX</button>
                    <button id="b45" class="btn45" OnClick="Marcar(this.id)">XX</button>
                </td>
                <td>
                    <button id="b46" class="btn46" OnClick="Marcar(this.id)">XX</button>
                    <button id="b47" class="btn47" OnClick="Marcar(this.id)">XX</button>
                    <button id="b48" class="btn48" OnClick="Marcar(this.id)">XX</button>
                    <button id="b49" class="btn49" OnClick="Marcar(this.id)">XX</button>
                    <button id="b50" class="btn50" OnClick="Marcar(this.id)">XX</button>
                    <button id="b51" class="btn51" OnClick="Marcar(this.id)">XX</button>
                    <button id="b52" class="btn52" OnClick="Marcar(this.id)">XX</button>
                    <button id="b53" class="btn53" OnClick="Marcar(this.id)">XX</button>
                    <button id="b54" class="btn54" OnClick="Marcar(this.id)">XX</button>
                    <button id="b55" class="btn55" OnClick="Marcar(this.id)">XX</button>
                    <button id="b56" class="btn56" OnClick="Marcar(this.id)">XX</button>
                    <button id="b57" class="btn57" OnClick="Marcar(this.id)">XX</button>
                    <button id="b58" class="btn58" OnClick="Marcar(this.id)">XX</button>
                    <button id="b59" class="btn59" OnClick="Marcar(this.id)">XX</button>
                    <button id="b60" class="btn60" OnClick="Marcar(this.id)">XX</button>
                </td>
                <td>
                    <button id="b61" class="btn61" OnClick="Marcar(this.id)">XX</button>
                    <button id="b62" class="btn62" OnClick="Marcar(this.id)">XX</button>
                    <button id="b63" class="btn63" OnClick="Marcar(this.id)">XX</button>
                    <button id="b64" class="btn64" OnClick="Marcar(this.id)">XX</button>
                    <button id="b65" class="btn65" OnClick="Marcar(this.id)">XX</button>
                    <button id="b66" class="btn66" OnClick="Marcar(this.id)">XX</button>
                    <button id="b67" class="btn67" OnClick="Marcar(this.id)">XX</button>
                    <button id="b68" class="btn68" OnClick="Marcar(this.id)">XX</button>
                    <button id="b69" class="btn69" OnClick="Marcar(this.id)">XX</button>
                    <button id="b70" class=" btn70 " OnClick="Marcar(this.id) ">XX</button>
                    <button id="b71" class="btn71 " OnClick="Marcar(this.id) ">XX</button>
                    <button id="b72" class="btn72 " OnClick="Marcar(this.id) ">XX</button>
                    <button id="b73" class="btn73 " OnClick="Marcar(this.id) ">XX</button>
                    <button id="b74" class="btn74 " OnClick="Marcar(this.id) ">XX</button>
                    <button id="b75" class="btn75 " OnClick="Marcar(this.id) ">XX</button>
                </td>

            </table>
        </div>
        <script src="/static/js/numbes.js "></script>
        <script type="text/javascript">
            var count = 0;
            var btn = document.getElementById("btn");
            var disp = document.getElementById("display");

            btn.onclick = function() {
                count++;
                disp.innerHTML = count;
            }
        </script>
    </body>

</html>